<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsng.hidemyapplist">

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HideMyApplist">
        <activity
            android:name=".ScopeManageActivity"
            android:label="@string/xposed_scope_manage"/>
        <activity
            android:name=".TemplateSettingsActivity"
            android:label="@string/xposed_edit_template" />
        <activity
            android:name=".TemplateManageActivity"
            android:label="@string/xposed_template_manage" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Reject applist detection." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>