on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
    if: ${{ !startsWith(github.event.head_commit.message, 'docs:') }}
    
    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Gradle wrapper validation
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Cache Gradle
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle-
          
      - name: Update submodules
        run: git submodule init && git submodule update
      
      - name: Make gradlew executable
        run: chmod +x ./gradlew
        
      - name: Gradle prebuild
        run: ./gradlew prebuild
        
      - name: Replace android-hidden-api android.jar
        run: bash ./replace_android_hidden_api_jar.sh

      - name: Write key
          if: github.event_name != 'pull_request' && github.ref == 'refs/heads/master'
          run: |
            echo storePassword='${{ secrets.KEY_STORE_PASSWORD }}' >> local.properties
            echo keyAlias='${{ secrets.ALIAS }}' >> local.properties
            echo keyPassword='${{ secrets.ALIAS_KEY_PASSWORD }}' >> local.properties
            echo fileDir='../key.jks' >> local.properties
            echo ${{ secrets.KEY_STORE }} | base64 --decode > key.jks

      - name: Build Release
        id: buildRelease
        run: |
          ./gradlew :app:assembleRelease
          echo "::set-output name=releaseName::`ls app/build/outputs/apk/release/Hide My Applist*-v*-release.apk | awk -F '(/|.apk)' '{print $6}'`"


      - name: Upload Signed build artifact
        if: ${{ steps.signKey.outputs.key }}
        uses: actions/upload-artifact@v2
        with:
          name: "${{ steps.buildRelease.outputs.releaseName }}"
          path: "app/release/signed/*.apk"
            - name: Upload apk
              if: success()
              uses: actions/upload-artifact@v2
              with:
                name: ${{ steps.buildRelease.outputs.releaseName }}
                path: "app/build/outputs/apk/release/*.apk"
            - name: Upload mappings
              uses: actions/upload-artifact@v2
              with:
                name: ${{ steps.buildRelease.outputs.releaseName }}-mappings
                path: "app/build/outputs"
          
      - name: Post to channel
        if: github.event_name != 'pull_request' && github.ref == 'refs/heads/master'
        env:
          CHANNEL_ID: ${{ secrets.TELEGRAM_TO }}
          BOT_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          FILE: "app/build/outputs/apk/release/${{ steps.buildRelease.outputs.releaseName }}.apk"
          COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
        run: |
          ESCAPED=`python3 -c 'import json,os,urllib.parse; print(urllib.parse.quote(json.dumps(os.environ["COMMIT_MESSAGE"])))'`
          curl -v "https://api.telegram.org/bot${BOT_TOKEN}/sendMediaGroup?chat_id=${CHANNEL_ID}&media=%5B%7B%22type%22:%22document%22,%20%22media%22:%22attach://release%22,%22caption%22:${ESCAPED}%7D%5D"  -F release="@$FILE"
